@charset "utf-8"; 
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.wrap {position:relative; max-width:100%; min-width:1200px; margin:0 auto; overflow:hidden;}
.blind {
	position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
    font: 0/0 m;
    color: transparent;
}

.section { background-color: #f7f7f7; overflow: hidden; }
.section .full-box { width: 100%; }
.section .box {
	max-width: 800px;
	width: 800px;
	margin: 0 auto;
}
.section h1 {margin-top: 50px;}
.section .button-group { margin-bottom: 50px; text-align: center; }

/* main image */
.main img {width: 100%;}

/* slide 1  */
.visual-slide {
	max-width: 740px;
	margin: 0 auto;
}

/* slide 2 */
.signatur-slide {
	max-width: 740px;
	margin: 14px auto 0;
}
.signatur-slide .button-box {
	position: absolute;
	left: 39px;
	bottom: 27px;
}
.signatur-slide .button-box .btn-counsel {
	margin-left: 6px;
}

/* event caution */
.caution { padding-bottom: 90px;}
.caution .img {margin: 16px auto 0; text-align: center;}


.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	width: 21px;
	height: 47px;
	background-image: url('../images/btn_prev.png');
	background-size: cover;
	background-blend-mode: overlay;
	left: 20px;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	width: 21px;
	height: 47px;
	background-image: url('../images/btn_next.png');
	background-size: cover;
	background-blend-mode: overlay;
	right: 20px;
}
.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
}
.swiper-pagination-bullet {
    background-color: #fff;
    opacity: .3;
}
.swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1;
}

/* modal */
.modal {
	max-width: 800px;
	padding: 60px 49px;
	border-radius: 0;
}
.modal .mt20 {margin-top: 20px}
.modal .mt50 {margin-top: 50px}
.modal .pop-header {border-bottom: 2px solid #4b4b4b}
.modal a.close-modal {
	top: 30px;
	right: 30px;
	background-image: url('../images/pop_btn_close.png');
}
.modal .pop-body {padding-top: 30px;}
.modal .pop-body .select-answer1 {cursor:pointer;}
.modal .pop-body .select-answer2 {cursor:pointer;}
.modal .pop-body .qustion {
	width: 702px; 
	margin-top: -30px;
	padding-bottom: 15px;
	border-bottom: 2px solid #4b4b4b;
	font-size: 30px; 
	color: #010101; 
	letter-spacing: -1px;
	text-align: center;
	font-family:  'Noto Sans KR';
}
.modal .pop-body .a1 {
	display: flex;
	align-items: center;
	width: 702px;
	min-height: 92px;
	margin-top: 30px;
	padding: 0 40px 0 80px;
	box-sizing: border-box;
	border: 1px solid #bbbbbb;
	border-radius: 10px;
	font-size: 22px;
	color: #000;
	letter-spacing: -1px;
	background: #f9f9f9 url('../images/pop_answer1_bg.jpg') no-repeat left center;
	cursor:pointer;
}
.modal .pop-body .a1.on {
	color: #fff;
	background: #1d8abc url('../images/pop_answer1_bg_active.jpg') no-repeat left center;
}
.modal .pop-body .a2 {
	display: flex;
	align-items: center;
	width: 702px;
	min-height: 92px;
	margin-top: 18px;
	padding: 0 40px 0 80px;
	box-sizing: border-box;
	border: 1px solid #bbbbbb;
	border-radius: 10px;
	font-size: 22px;
	color: #000;
	letter-spacing: -1px;
	background: #f9f9f9 url('../images/pop_answer2_bg.jpg') no-repeat left center;
	cursor:pointer;
}
.modal .pop-body .a2.on {
	color: #fff;
	background: #1d8abc url('../images/pop_answer2_bg_active.jpg') no-repeat left center;
}
.modal .pop-body .qustion strong {font-weight: bold; font-size: 34px; color: #1d8abc;}
.modal .pop-body dl {display: flex; margin-bottom: 18px; }
.modal .pop-body dd {flex-grow: 1; margin-left: 20px; }
.modal .pop-body dd input {
	width: 100%;
	height: 62px;
	background-color: #f9f9f9;
	border-radius: 10px;
	border: 1px solid #bbbbbb;
	font-size: 22px;
	color: #000;
	text-align: center;
}
.modal .check-box dd input[type="checkbox"] {width: 34px; height: 34px;}
.modal .agree-text {
    height: 216px;
    overflow-y:auto;
    padding: 30px;
    font-size: 18px;
    color: #000;
    background: #f9f9f9;
}
.modal .sns-box { text-align: center;}
.modal .sns-box span {padding: 0 16px;}
.modal .button-action {text-align: center; }
.modal .button-action a:nth-child(2) {margin-left: 16px;}

















